  <div class="container"> 
      <div class="room_sidebar"> <!-- side bar on the left hand side that hold room names -->
        <h1> Rooms:</h1>
        <ul><% @rooms.each do |room| %>
          <li><%= room.name %></li>
        <% end %></ul>
       </div>

      <div class="message_box"> <!-- side bar on the right hand side that displays messages -->
      Messages will appear here....
    </div>

    <div class="input_box"><!--  box on the bottom right hand side underneath 'display messages' box that you type messages into.  -->
      Enter your message...
    </div>
</div>


